body {

}
.wrap {
    background-color:blue;
    width:25%;
    
  margin:auto;
  padding:20px;
text-align:center;
box-sizing:border-box;
 

}
.makes {
color:red;
}
.mainContainer {
    width:100%;
}
.elem1 {
    padding: 20px;
    float:left;
}
.elem2 {
    clear:left;
    padding: 20px;
}
.elem3 {
    padding: 20px;
}
.elem4 {
    padding: 20px;
}